* {
    margin: 0;
    padding: 0;
}
#menu {
    width: 400px;
    height: 100px;
    background-color: #ffd6d6;
    display: none;
    line-height: 30px;
}
#menu.show {
    display: block;
}
#menubuttonm {
    width: 100px;
    height: 100px;
}