* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.menu {
    height: 100px;
    width: 400px;
}
.menu > li {
    height: 25%;
    width: 100px;
    text-align: center;
    justify-content: center;
    background-color: #cecece;
}
.submenu {
    position: relative;
    margin-left: 100px;
    margin-top: -24px;
    width: 0;
    overflow: hidden;
    height: 100px;
    background-color: #9d9d9d;
}
.submenu li {
    text-align: center;
    height: 25%;
}
.menu > li:hover {
    transition: all 0.3s;
    background-color: #999999;
}
.menu > li:hover .submenu {
    transition: all 0.3s;
    width: 300px;
}