* {
    margin: 0;
    padding: 0;
}
.box {
    position: relative;
    top: 200px;
    width: 900px;
    height: 170px;
    border: 1px solid black;
}
.slider {
    position: absolute;
    width: 4500px;
    height: 170px;
    display: flex;
    overflow: hidden;
    transition: all 0.5s;
}
.slide:nth-child(1) .slider-box {
    position: relative;
    width: 900px;
    height: 170px;
    background-color: #ff0000;
}
.slide:nth-child(2) .slider-box {
    position: relative;
    width: 900px;
    height: 170px;
    background-color: #ff9500;
}
.slide:nth-child(3) .slider-box {
    position: relative;
    width: 900px;
    height: 170px;
    background-color: #e1ff00;
}
.slide:nth-child(4) .slider-box {
    position: relative;
    width: 900px;
    height: 170px;
    background-color: #00ff15;
}
.slide:nth-child(5) .slider-box {
    position: relative;
    width: 900px;
    height: 170px;
    background-color: #0066ff;
}